<table>
  <caption>いいね一覧</caption>
  <thead>
    <tr>
      <th>ジャンル</th>
      <th>タイトル</th>
      <th>レビュー</th>
    </tr>
  </thead>
  <tbody>
    
    <% @likes.each do |like| %>
      <tr>
        <td><%= like.review.book.genre.name %></td>
        <td><%= link_to book_path(like.review.book) do %>
        <%= like.review.book.title %>
        <% end %></td>
        <td><%= like.review.review.truncate(70) %></td>
      </tr>
    <% end %>
  </tbody>
</table>