<div>
  <h3><%= @customer.name %></h3>
  <%= attachment_image_tag @customer, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
   <% if @customer.id == current_customer.id %>
    <p><%= link_to "プロフィール編集", edit_customer_path(@customer) %></p>
  <% end %>
</div>