
<div class="container takasa">
  <div class="row">
      <tbody align="center">
          <div>
            <h2 class = "top">ようこそ、Books＿logへ！<br>
               このサイトは、本のレビューを書き込むECサイトになります。<br>
               会員ではない方もレビューの閲覧は可能ですが、フォロー、お気に入り機能、レビューの書き込みはできません<br>
               上記の機能を使用するためには、会員登録が必要となります。</h2>
          </div>
      </tbody>
  </div>
</div>

<h1 class="top">今週のお気に入りTOP5！</h1>
<div id="container">
  <div id="theTarget">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
    <div class="image5"></div>
  </div>
</div>
