/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.swiper-pagination {
  position: static !important;
}

.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: rgb(224,157,53);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 0 auto;}

/*タブのスタイル*/
.tab_item {
  width: calc((100% - 300px) / 3);
  height: 50px;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}

.sub_item {
  width: 150px;
}

.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content,
#search:checked ~ #search_content,
#login:checked ~ #login_content,
#logout:checked ~ #logout_content,
#customer:checked ~ #customer_content{
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: rgb(111,68,0);
  color: #fff;
}

.top-nav {
  display: flex;
}

.box {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(3, minmax(160px, 260px));
  margin-top: 6%;
  margin-left: 25%;
}

.card{
  text-align:center
}

.tab_content {
  height :100px;
}

.c-txtsp {
  display: inline-block;
  margin: 0 20px;
}

.rank{
  margin-left: 50px;
  margin-top: 80px;
}

.books{
  flex-direction: row;
}

.hyou{
  width: 800px;
  border: 3px solid;
  font-weight: 3px;
  background-color: white;
  th{
    border: 3px solid;
  }
  tr{
    height: 75px;
    border-bottom: 3px solid;
  }
  td{
    border-left: 3px solid;
  }
}

.synopsis{
  max-width: 500px;
}

.title{
  max-width: 150px;
  letter-spacing: 0.5px;
}

tr{
  border-bottom: 1px solid;
  padding: 2px;
}

tr:nth-child(even){
  background :rgb(240,219,186);
}

.book_show{
  display :flex;
}

body{
  background-color: rgb(247,245,230);
}

.customer_show{
  display:flex;
  justify-content: center;
  margin-bottom: 50px;
  .customer_image{
    width :600px;
    margin-top: 100px;
    left: 300px;
  }
  h3{
    margin-top: 150px;
    border: 3px;
  }
}

.c_box{
  justify-content: center;
  display:flex;
}

.box_box{
  border: 1px solid;
  padding: 20px;
  margin: 40px 30px;
  border-radius: 5px;
}

.header_top{
  font-family: Chalkduster, "Bradley Hand", Courier, "Segoe Print", sans-serif;
  text-align:center;
}

.ranking{
  display: flex;
}

.circle {
  object-fit: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.card-order {
  position: absolute;
  left: 30%;
  top: -30px;
}

.card-box {
  position: relative;
}

.name{
  font-size: calc(15px + 3vw);
  font-weight: bold;
  border-bottom: 1px solid #000!important;
}

.star{
  margin-left: 10px;
}